repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=5000"]
      - id: check-toml
      - id: check-json
      - id: check-symlinks
      - id: debug-statements
      - id: detect-private-key
      - id: check-yaml
        args:
          - --unsafe
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.7
    hooks:
      - id: ruff
        args: ["--fix", "--no-unsafe-fixes"]
      - id: ruff-format
  # - repo: local
  #   hooks:
  #     - id: tests
  #       name: tests
  #       language: system
  #       types: [python]
  #       pass_filenames: false
  #       entry: poetry run pytest
