.wy-nav-top {
    background-color: #208ae0 !important;
    background: linear-gradient(to bottom, #1a7ccc 0%,#4ba3ea 100%);
}
.wy-side-nav-search {
    background-color: #208ae0 !important;
    background: linear-gradient(to bottom, #1a7ccc 0%,#4ba3ea 100%);
}

.wy-menu-vertical a {
    line-height: 1.7;
    font-size: 100%;
}

li>strong {
    font-weight: bold;
    color: #208ae0;
    font-size: 1.1em;
    padding-right: 0.5em;
}

.field-body ul li {
    padding-bottom: 0.5em;
}

.wy-nav-side {
    box-shadow: 0px 0px 15px 0px #444444;
}

table.borderless {
    border: none !important;
}

table.borderless td {
    background-color: transparent !important;
    border: none !important;
    border-bottom: none !important;
    border-top: none !important;
    border-right: none !important;
}

.bounding img {
    padding: 5px;
}

table.borderless p {
    text-align: center;
}

.wy-table-responsive {
    overflow: auto !important;
}

.wy-nav-content {
    max-width: 1000px !important;
}

.rst-content dl.class > dt {
    font-size: 1.2em;
    margin-top: 30px !important;
    margin-bottom: 30px;
    width: 100%;
}

.rst-content dl.method > dt {
    width: 100%;
}